

.table {
    width: 70%;
    margin-left: 5%;
    background-color: white;
}
h1{
    margin-left: 5%;
}
button{
margin-left: 3px;
}

a{
    margin-top: 4px;
}
body{
    background-color: #D6F7E8;
    height:700px;
}