<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1>Welcome! Which plants need to be watered?</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Water Every</th>
                <th scope="col">Watered Yet?</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of myobjects">
                <td>{{x.name}}</td>
                <td>{{x.type}}</td>
                <td>{{x.watered}}</td>
                <td>
                    <button class="btn btn-success btn-sm" [routerLink]="['/show', x._id]">Show</button>
                    <button class="btn btn-info btn-sm" [routerLink]="['/edit', x._id]">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteObject(x)">Delete</button>
                </td>
        </tbody>
        <a class="btn btn-success btn-sm" [routerLink]="['/new']">Add a plant</a>
    </table>

    <div *ngIf='plant' class="plant">
        <td>Name: {{plant.name}}</td><br>
        <td>Water Every: {{plant.type}}</td><br>
        <td>Completed?: {{plant.watered}}</td><br>
    </div>

        
    <router-outlet></router-outlet>
    <!-- <form>
    <div *ngIf='edit.title' class="edit">
            <input type="text" name="myobjects.title" [(ngModel)]="edit.title" placeholder= {{edit.title}}>
            <input type="text" name="myobjects.description" [(ngModel)]="myobjects.description" placeholder="Description">
            <input type="text" name="myobjects.completed" [(ngModel)]="myobjects.completed" placeholder="Completed?">
            <button (click)="editForm()">Submit</button>
        </div>
    </form> -->
    <!-- <a [routerLink]="['/show/_id']">Show</a>

    <router-outlet></router-outlet>  -->
</body>

</html> 