<!-- <p>show works!</p>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <table>
        <tr>
                <td name="myobj.title" [(ngModel)]="myobj.title" placeholder="Title"></td><br>
                <td name="myobj.description" [(ngModel)]="myobj.description" placeholder="Description"></td><br>
                <td name="myobj.completed" [(ngModel)]="myobj.completed" placeholder="Completed"></td><br>
        </tr>
    </tbody>
</table> -->