<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Add New Task </title>
</head>


<body>
    <div class="container">
            <h1>Add a new product</h1>
            <div *ngFor="let error of errors">
                    <p>{{ error.path }}: {{ error.message }}</p>
                  </div>
    <form name="myForm" ng-controller="ctrl">
            <div class="form-group">
                <label for="formGroupExampleInput">Name:</label>
                <input type="text" class="form-control" id="name" name="name" ng-required="true" required minlength="3"
                 [(ngModel)]="myobj.name" placeholder="Ex: Rubber Plant" #name="ngModel" required>
    
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 3 characters long.
                    </div>
                </div>
                <label for="formGroupExampleInput">Water Frequency:</label>
                <input type="text" class="form-control" id="type" name="type" ng-required="true" required minlength="1"
                 [(ngModel)]="myobj.type" placeholder="Ex: 7 days" #type="ngModel" required>
    
                <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
                    <div *ngIf="type.errors.required">
                        A water frequency is required.
                    </div>
                    <div *ngIf="type.errors.minlength">
                        Frequency must be at least 1 character long.
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-sm" (click)="submitForm()" ng-disabled="myForm.name.$pristine"  [disabled]="myobj.type.length<1" [disabled]="myobj.name.length<3">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>